.hh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #fafafa;
    height: 70px;
    width:100px;
    cursor: pointer;
    border-radius: 5px;
}
